.container-logo{
    position: absolute;
    width: 99.9vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
 .img-container{
   width:  20vw;
   height: 20vw;
   margin: 3px auto 0 auto;
   position: relative;
 }
 .line-1{
   position: absolute;
   top: -3px;
   left: -3px;
   width: 5px;
   background-color: white;
   -webkit-animation: left 0.5s forwards; /* for less modern browsers */
   animation: left 0.5s forwards;
 }
 @keyframes left {
   from {height : 0;}  
   to {height : 20.1vw;}
 }
 .line-2{
   position: absolute;
   bottom: -3px;
   left: -3px;
   height: 5px;
   background-color: white;
   -webkit-animation: bottom 0.5s forwards; /* for less modern browsers */
   animation: bottom 0.5s forwards;
   animation-delay: 0.5s;
 }
 @keyframes bottom {
   from {width : 0;}  
   to {width : 20.1vw;}
 }
.line-3{
   position: absolute;
   bottom: -3px;
   right: -3px;
   width: 5px;
   background-color: white;
   -webkit-animation: right 0.5s forwards; /* for less modern browsers */
   animation: right 0.5s forwards;
   animation-delay: 1s;
 }
 @keyframes right {
   from {height : 0;}  
   to {height : 20.1vw;}
 }
 .line-4{
   position: absolute;
   top: -3px;
   right: -3px;
   height: 5px;
   background-color: white;
   -webkit-animation: top 0.5s forwards; /* for less modern browsers */
   animation: top 0.5s forwards;
   animation-delay: 1.5s;
 }
 @keyframes top {
   from {width : 0;}  
   to {width : 20.1vw;}
 }
 .animation-logo{
   opacity: 0;
   -webkit-animation: appear 0.5s forwards; /* for less modern browsers */
   animation: appear 0.7s forwards;
   animation-delay: 2s;
 }
 @keyframes appear{
   from {opacity: 0;}
   to {opacity: 1;}
 }


 .scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-delay: 3.5s;
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
