.doodle-signal{
    width: 150px;
    left: 40%;
    top: -50%;
    img{
      width: 100%;
    }
  }
  .doodle-star{
    width: 150px;
    left: 90%;
    bottom: -20%;
    img{
      width: 100%;
    }
  }
  .doodle-rocket{
    width: 200px;
    left: -2%;
    top: -45%;
    img{
      width: 100%;
    }
  }
.arrow-container-1{
    bottom: 80%;
    right: 110%;
    z-index: 2;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 200px;
    transform: rotate(-50deg) scaleX(-1);
  }
  .arrow-container-1-small{
    top: -10%;
    left: -10%;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    width: 5vw;
    height: 10vw;
    transform: rotate(-50deg);
  }
  .arrow-container-2{
    top: -43%;
    left: 50%;
    z-index: 2;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    width: 5vw;
    max-width: 84px;
    max-height: 168px;
    height: 10vw;
  }
  .arrow-container-3{
    top: 0%;
    left: 100%;
    z-index: 2;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    width: 60px;
    height: 150px;
    transform: rotate(30deg) scaleX(-1);
  }
  .arrow-container-3-small{
    top: 10%;
    left: 110%;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    width: 5vw;
    height: 10vw;
    transform: rotate(50deg);
  }
  .arrow-container-2-small{
    top: -25%;
    left: 50%;
    background-image: url('../../public/img/arrow.svg');
    background-size: cover;
    width: 5vw;
    height: 10vw;
  }